{% load static %} {% load crispy_forms_tags %} {% include 'navbar.html' %}
<br />
<!DOCTYPE html>
<html>
  <head>
    <title>List of Invoices</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
  </head>
  <body>
    {{title}} <br />
    {% csrf_token %} {{form}}
    <br />
    <form method="POST" action="">
      {% csrf_token %} {{form|crispy}}
      <input type="submit" value="Search" />
    </form>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>COUNT</th>
          <th>DATE</th>
          <th>CUSTOMER NAME</th>
          <th>INVOICE NUMBER</th>
          <th>AMOUNT</th>
        </tr>
      </thead>
      {% for instance in queryset %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.invoice_date}}</td>
        <td>{{instance.name}}</td>
        <td>{{instance.invoice_number}}</td>
        <td>{{instance.total}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
